{{ define "main" }}
    {{ $paginator := .Site.RegularPages.ByDate.Reverse | first 100 }}

    <div class="content">
        <main class="posts">
            <div style="margin-bottom: 2rem;">
                <h1>{{ .Site.Title }}</h1>
                {{ partial "subtitle.html" . }}
                {{- with .Site.Params.social }}
                    <div>{{ partial "social-icons.html" . }}</div>
                {{- end }}
            </div>

            {{ range $paginator.GroupByDate "2006" }}
                <div class="posts-group">
                    <div class="post-year">{{ .Key }}</div>
                    <ul class="posts-list">
                        {{ range .Pages }}
                            <li class="post-item">
                                <a href="{{ .Permalink }}" class="post-item-inner">
                                    <span class="post-title">{{ .Title }}</span>
                                    <span class="post-day">
                                        {{ time.Format "Jan 2" .Date }}
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            {{ end }}
        </main>
    </div>
{{ end }}
